/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:ital,wght@0,500;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,500;1,400;1,700;1,900&display=swap');


:root{
--main-color: #8e8e8e;
--black:#222;
--white:#222;
--light-white:#ff9;
/* border: 1rem solid var(--black); */
box-shadow: 0;

}

*{
    border: 3px solid;
}

/* ........................starts header......................... */
*{
font-family: 'Open Sans', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar-track{
    width: 1rem;
    background-color: var(--main-color);
}
html::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: var(--main-color);
}


.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: rgb(43, 77, 43);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 45px;
    padding-right: 60px;
    box-shadow: var(--light-white);
    align-items: center;
    justify-content: space-between;
    
}

.header .logo{
    height: 4%;
    width: 3%;
}
.header .logo{
    font-size: 2.5rem;
    color: white;
}
.header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}
.header .navbar a:hover{
    color: rgb(18, 27, 65);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: #222;
    display: none;
}
/* ............................ends header........................*/

/* .................PAGE D'ACCUEIL............................... */ 


/* .starts sous-section une.. */
.titre0{
    background-color:rgba(0, 0, 0, 0.445) ;
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 100vh;

}

.titre1{
    position: relative;
    z-index: 1;
    width:100% ;
    height: 100vh;
    background-image: url(./IMAGES/image8.webp);
    background-size: cover;
    object-fit: cover;
    
}

.titre1 h1{
    text-align: center;
    color: white;
    padding: 200PX;
    font-size: 55px;
    font-weight: 1000;
}
/* ends sous-section une */

/* start section deux */

.bloc2 .ass{
    padding: 5%;
    
}

.propos img{
    height: 60vh;
    width: 90vh;
}
.propos h2{
    font-size: 30px;
    font-weight: 600;
    color: rgb(28, 73, 28);
}
.propos p{
    font-size: 15px;
    text-align: justify;
}

/* Ends section deux */

/* starts section trois */

.bloc2{
    padding: 2%;
    padding-bottom: 3%;
}
 .bloc2.texte{
    padding-bottom: 5%;
}
.texte h2{
    font-size: 30px;
    font-weight: 600;
}

.texte p{
    font-size: 17px;
    text-align: justify;
    
    
}

*{
    /* border: solid; */
}



/* Starts section quatre */
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(15, 14, 14);
}
.header span{
    color: #ff9;
    padding: 1rem;
}


.service .bos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.service .bos-container .bos{
    flex: 1.1 5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 17px 12px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    border-radius: 1.5rem;
}
.service .bos-container .bos .imge{
    height: 10vh;
    width: 30vh;
    position: absolute; 
     top: 100%; left: 0;
}
.service .bos-container .bos .content{
    text-align: center;
    background: rgb(235, 240, 213);
    padding: 2rem;
}
.service .bos-container .bos .content img{
    margin: 1.5rem 0;
    height: 35vh;
    width: 40vh;
}
.service .bos-container .bos .content h3{
    font-size: 2.5rem;
    color: #222;
}
.service .bos-container .bos .content p{
    font-size: 1.5rem;
    color: rgb(121, 68, 68);
    padding: 1rem;
}
.service .bos-container .bos:hover .content {
    top: 0;
}
.service .bos-container .bos:hover .content {
    transform: translateY(100deg);
}

/* page accueil */

/* ........................PAGE ACTIVITES........................... */

.titre {
    background-color: aqua;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 5rem;
    /* padding: 25%; */
    text-shadow: -3px, 3px, 3px;
    animation: titre0 ease 3.5s;
}
@keyframes titre0{
    0%{
        opacity: 0;
        transform : translateY(350px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }  
    
}

.act{
    padding: 2%;
    padding-top: 5%;
    margin: auto;
    
}

.act h2{
    font-size: 3rem;
    color: rgb(12, 41, 14);
}
.act p{
    
    font-size: 15px;
    text-align: justify;
}
.act img{
    height: 30rem;
    width: 50rem;
}

/* ......................fin de la page activités................................ */

/*............................. debut de la page projet....................... */

.bloc-projet .projet img{
    height: 30rem;
    width: 40rem;
}

/* ..............fin de la page projet ...............................................*/

/* ...............debut de la page galerie ......................................*/

.photo{
    padding: 4%;
    
}

.photo h2{
    text-align: center;
    font-size: 4rem;
    color: rgb(25, 44, 28);
}
.galerie img{
    height: 25rem;
    width: 35rem;
    padding-bottom: 4.5%;
}
/* .........End page galerie................................................. */

/* .............. pages offres .....................................*/
.services .bo-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1.5rem;
    
}

.services .bo-container .bos-services{
    padding: 1rem 1rem;
    text-align: center;
    background-color: rgb(236, 235, 135);
}

.services .bo-container .bos-services:hover{
    background-color: #f7f7f7;
}

.services .bo-container .bos-services img{
    height: 10rem;

}


/* ...................fin de page offres......................................... */


/* ...................Start page login......................... */
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/* .....................................page inscription ................................*/ 
.login-form {
                width: 340px;
                margin: 50px auto;
            }
            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .login-form h2 {
                margin: 0 0 15px;
            }
            .form-control, .btn {
                min-height: 38px;
                border-radius: 2px;
            }
            .btn {        
                font-size: 15px;
                font-weight: bold;
            }

/* ....................................page contact...................................... */

.contact .contact-form{
    padding: 2rem;
    background-color: rgb(146, 158, 158);
}
.contact .contact-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .contact-form .flex .inputbox{
    flex: 1 1 41rem;

}
.contact .contact-form .flex .inputbox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    margin-top: 1.5rem;
    border: #222;
}
.contact .contact-form .flex .inputbox input:focus{
    background-color: rgb(14, 6, 6);
    color: #f7f7f7;
}

.contact .contact-form .flex .inputbox input:focus::placeholder{

    color: #f7f7f7;
}
.contact .contact-form .flex .inputbox span{
    font-size: 1.5rem;
    color: yellow;
}
.contact .contact-form .btn{
    margin-top: 2rem;
}


/* .....................starts page footer ................................*/

.footer{
    margin-top: 5%;
    padding: 5%, 5%, 2%, 5%;
    background-color: rgb(25, 56, 25);
    color: white;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 3rem;
    
}

.footer .box-container .box h3{
    color: white;
    font-size:  2rem;
    padding-bottom: 2rem;
    padding-top: 5%;
}
.footer .box-container .box a{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
}

.footer .box-container .box a i{
    color: white;
    /* padding-right: .2rem; */
    transition: .2s linear;
    font-size: 1.5rem;
}


.footer .menu i{
    font-size: 0.5rem;
   
}

.footer .box-container .box a:hover i{
    color: rgb(202, 30, 30);
    /* padding-right: .3rem */
}

.footer .box-container .box label{
    font-size: 1.5rem;

}

.footer .box2{
    text-align: center;
    /* padding-top: 3rem; */
    /* margin-top: 3rem; */
    border-top: .1rem solid;
    font-size: 1.5rem;
    color: white;
    /* height: 3px; */

}
.footer .box2 span{
    color: #ff9;
}

/* .................................ends footer............................ */



/* ................................media queries .............................*/
@media(max-width:1200px){
    section{
        padding: 3rem ;
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2%;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    
    #menu-btn .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: bisque;
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    } 
    
    .header .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    } 
}




















